@model IEnumerable<MvcCoreCochesCosmosDb.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Vehiculos</h1>

<p>
    <a asp-action="Create" asp-controller="Coches">Create New</a>
</p>
<p>
    <a asp-action="BuscadorCoches" asp-controller="Coches">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                <img src="@item.Imagen" style="width:150px;height: 150px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadMaxima)
            </td>
            <td>
                <a asp-controller="Coches" asp-action="Details"
                 asp-route-id="@item.Id" class="btn btn-outline-dark">
                    Details
                </a>
                <a asp-controller="Coches" asp-action="Edit"
                asp-route-id="@item.Id" class="btn btn-info">
                    Edit
                </a>
               <a asp-controller="Coches" asp-action="Delete" 
                   asp-route-id="@item.Id"
                    class="btn btn-danger">
                   Delete
               </a>
            </td>
        </tr>
}
    </tbody>
</table>
